name: Build Flatpak

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Flatpak dependencies
      run: |
        sudo apt update
        sudo apt install -y flatpak flatpak-builder

    - name: Set up Flatpak repository (runtime)
      run: |
        flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
        flatpak install --user -y flathub org.freedesktop.Platform//25.08
        flatpak install --user -y flathub org.freedesktop.Sdk//25.08

    - name: Build Flatpak
      run: flatpak-builder --user --force-clean --repo=build/repo build flatpak/com.github.imlinguin.nile.yml

    - name: Export Flatpak bundle
      run: flatpak build-bundle build/repo bin/nile.flatpak com.github.imlinguin.nile
    
    - name: Upload Flatpak artifact
      uses: actions/upload-artifact@v4
      with:
        name: nile.flatpak
        path: bin/nile.flatpak